<center>
    <h1 ng-bind="poi.POI_Name"></h1>
    <br>
    <img ng-src="{{poi.image}}" width="600px">
    <br>
    <p ng-bind="poi.Number_Of_Views"></p> watched this point of interest.
    <br>
    <p ng-bind="poi.Description"></p>
    Rank: <p ng-bind="poi.Percentage_Rank"></p>
    <br>
    <h2>Reviews:</h2>
    <div ng-repeat="review in Two_Latest_Reviews">
        <p ng-bind="review.Date"></p>
        <br>
        <p ng-bind="review.Description"></p>
        <br>
        <p ng-bind="review.Rank"></p>
    </div>
    <br><br>
    <div ng-show="isLogged">
        Favorite <input type="checkbox" name="isFavorite" ng-click="save()">
    </div>
</center>