<center>
    <h1 ng-bind="poi.POI_Name"></h1>
    <br>
    <img ng-src="{{poi.image}}" width="600px">
    <br>
    <b><span style="font-size: 18px" ng-bind="poi.Number_Of_Views"></span></b> watched this point of interest.
    <br>
    <p ng-bind="poi.Description"></p>
    <b style="font-size: 20px">Average Rank:</b> <span ng-show="reviewsExists" ng-bind="poi.Percentage_Rank"></span>
    <h3 ng-hide="reviewsExists" style="color: red">There is no rank yet</h3>
    <br>
    <h2>Two latest reviews:</h2>
    <h3 ng-hide="reviewsExists" style="color: red">There are no reviews for this Point of interest</h3>
    <div ng-repeat="review in poi.Two_Latest_Reviews">
        <h3>Review:</h3>
        <span><b>Date:</b></span> <span ng-bind="review.Date"></span>
        <br>
        <span><b>Description:</b></span> <span ng-bind="review.Description"></span>
        <br>
        <span><b>Rank:</b></span> <span ng-bind="review.Rank"></span>
        <br>
        <br>
    </div>
    <h3 ng-show="oneReview" style="color: red">There is only 1 review for this point of interest.</h3>
    <div ng-show="isLogged">
        Favorite <input type="checkbox" ng-model="clickedFavorite" name="isFavorite" ng-click="favoriteChange()">
        <br><br>
        <Button ng-click='addReview()'>Add Review</Button>
    </div>
</center>

<dialog id="myDialog">
    <form name="reviewForm" ng-submit="submitReview()" novalidate>
        Rank: <select name="reviewRank" ng-model="reviewRank" ng-options="x for x in [1,2,3,4,5]" required></select>
        <span ng-show="reviewForm.reviewRank.$error.required">This is required!</span>
        <span ng-show="reviewForm.reviewRank.$invalid">Invalid field</span>
        <br><br>
        Description: <input type="text" name="description" ng-model="description" required>
        <span ng-show="reviewForm.description.$error.required">This is required!</span>
        <span ng-show="reviewForm.description.$invalid">Invalid field</span>
        <br><br>
        <input type="submit" ng-disabled="reviewForm.$invalid" id="submitReview" value="submitReview">
    </form>
</dialog>