<body>
    <form name="registerForm" ng-submit="()" novalidate>
        First Name: <input type="text" name="registerFirstName" ng-model="registerFirstName" required
            pattern='^[a-zA-Z]*$'>
        <span ng-show="registerForm.registerFirstName.$error.required">This is required!</span>
        <span ng-show="registerForm.registerFirstName.$error.pattern">Letters only!</span>
        <span ng-show="registerForm.registerFirstName.$invalid">Invalid field</span>
        <br>
        Last Name: <input type="text" name="registerLastName" ng-model="registerLastName" required
            pattern='^[a-zA-Z]*$'>
        <span ng-show="registerForm.registerLastName.$error.required">This is required!</span>
        <span ng-show="registerForm.registerLastName.$error.pattern">Letters only!</span>
        <span ng-show="registerForm.registerLastName.$invalid">Invalid field</span>
        <br><br>
        City: <input type="text" name="registerCity" ng-model="registerCity" required pattern='^[a-zA-Z ]*$'>
        <span ng-show="registerForm.registerCity.$error.required">This is required!</span>
        <span ng-show="registerForm.registerCity.$error.pattern">Letters only!</span>
        <span ng-show="registerForm.registerCity.$invalid">Invalid field</span>
        <br>
        Coutry <select ng-model="selectedCountry" ng-options="x for x in countries">
        </select>
        <br><br>
        Email: <input type="email" name="registerEmail" ng-model="registerEmail" required>
        <span ng-show="registerForm.registerEmail.$error.required">This is required!</span>
        <span ng-show="registerForm.registerCity.$invalid">Invalid field</span>
        <br><br>
        Topic 1: <select name="selectedTopic1" ng-model="selectedTopic1" ng-options="x for x in topics" required>
        </select>
        <span ng-show="registerForm.selectedTopic1.$error.required">This is required!</span>
        <span ng-show="registerForm.selectedTopic1.$invalid">Invalid field</span>
        <br>
        Topic 2: <select name="selectedTopic2" ng-model="selectedTopic2" ng-options="x for x in topics" required>
        </select>
        <span ng-show="registerForm.selectedTopic2.$error.required">This is required!</span>
        <span ng-show="registerForm.selectedTopic2.$invalid">Invalid field</span>
        <br><br>
        Recovery Question: <select name="recoveryQuestion" ng-model="recoveryQuestion" ng-options="x for x in questions" required>
        </select>
        <span ng-show="registerForm.recoveryQuestion.$error.required">This is required!</span>
        <span ng-show="registerForm.recoveryQuestion.$invalid">Invalid field</span>
        <br>
        Recovery Question-Answer: <input type="text" name="recoveryAnswer" ng-model="recoveryAnswer" required>
        <span ng-show="registerForm.recoveryAnswer.$error.required">This is required!</span>
        <span ng-show="registerForm.recoveryAnswer.$invalid">Invalid field</span>
        <br><br>
        Username: <input type="text" name="registerUsername" ng-model="registerUsername" required minlength="3"
            maxlength="8" pattern='^[a-zA-Z]*$'>
        <span ng-show="registerForm.registerUsername.$error.required">This is required!</span>
        <span ng-show="registerForm.registerUsername.$error.pattern">Letters only!</span>
        <span ng-show="registerForm.registerUsername.$error.minlength">Minimum length is 3!</span>
        <span ng-show="registerForm.registerUsername.$invalid">Invalid field</span>
        <br>
        Password: <input type="text" name="registerPassword" ng-model="registerPassword" required minlength="5"
            maxlength="10" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{0,10}$">
        <span ng-show="registerForm.registerPassword.$error.required">This is required!</span>
        <span ng-show="registerForm.registerPassword.$error.pattern">Password must combine both letters and
            digits!</span>
        <span ng-show="registerForm.registerPassword.$error.minlength">Minimum length is 5!</span>
        <span ng-show="registerForm.registerPassword.$invalid">Invalid field</span>
        <br><br>
        <input type="submit" ng-disabled="registerForm.$invalid" id="register" value="register">
    </form>
    <p>{{ answer }}</p>

</body>