<!-- css -->
<style>
    img {
        height: 300px;
    }
</style>
<center>
        <h2>Point Of Interests:</h2>

</center>

<button ng-click="rankSort()" style="margin-left: 20px">Sort By Rank</button>
<br><br>
Show Category: <select name="category" id="category" ng-model="selectedCategory"
    ng-options="x.Topic for x in categories"></select>
<button ng-click="show()">Show!</button>
<br>
<br>
Search By Name: <input type="text" ng-model="poiNameSearch">
<button ng-click="search()">Search!</button>
<center>
    <div ng-repeat="topic_poi in pointsOfInterests">
        <h3 ng-show="topic_poi.Points.length > 0" ng-bind="topic_poi.Topic"></h3>
        <p ng-repeat="poi in topic_poi.Points">
            <br>
            <span ng-click="showPoi(poi.POI_ID)" ng-bind="poi.Name"></span>
            <br>
            <img ng-click="showPoi(poi.POI_ID)" ng-src="{{ poi.Image_Path }}">
            <br>
            <span ng-show="isLogged">
                Favorite <input type="checkbox" ng-model="clicked" ng-init="clicked=poi.Is_Favorite" name="isFavorite.{{poi.POI_ID}}" ng-click="favoriteChange(poi.POI_ID)">
            </span>
        </p>
        <br>
    </div>
</center>