<!-- css -->
<style>
    img {
        height: 300px;
    }
</style>

<h2>POI</h2>

<!-- display all cities -->
<center>
    <table>
        <tr>
            <td>
                <h3 ng-bind="topic1">{{topic1}}</h3>
                <span ng-click="showPoi(poiTopic1.name)" ng-bind="poiTopic1.name"></span>
                <br>
                <img ng-click="showPoi(poiTopic1.name)" ng-src="{{ poiTopic1.image }}">
            </td>
            <td>
                <h3>Last Saved</h3>
                <span ng-click="showPoi(lastSaved.name)" ng-bind="lastSaved.name"></span>
                <br>
                <img ng-click="showPoi(lastSaved.name)" ng-src="{{ lastSaved.image }}">
            </td>
        </tr>
        <tr>
            <td>
                <h3 ng-bind="topic2"></h3>
                <span ng-click="showPoi(poiTopic2.name)" ng-bind="poiTopic2.name"></span>
                <br>
                <img ng-click="showPoi(poiTopic2.name)" ng-src="{{ poiTopic2.image }}">
            </td>
            <td>
                <h3>Previous Saved</h3>
                <span ng-click="showPoi(previousSaved.name)" ng-bind="previousSaved.name"></span>
                <br>
                <img ng-click="showPoi(previousSaved.name)" ng-src="{{ previousSaved.image }}">
            </td>
        </tr>
    </table>
</center>