<!-- css -->
<style>
    img {
        height: 300px;
    }
</style>

<h2>Favorites:</h2>

<!-- display all cities -->
<button ng-click="categoriesSort()">Sort By Categories</button>
<button ng-click="rankSort()">Sort By Rank</button>
<button ng-click="resetFavorites()">Reset Favorites</button>
<br>
<br>
<button ng-click="saveOrder()">Save Favorites Order</button>
<center>
    <p ng-repeat="poi in Points">
        <br>
        <span ng-click="showPoi(poi.POI_ID)" ng-bind="poi.Name"></span>
        <br>
        <img ng-click="showPoi(poi.POI_ID)" ng-src="{{ poi.Image_Path }}">
        <br><br>
        <button ng-click="removePOI(poi.POI_ID)">Remove from favorites</button>
     </p>
</center>